<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index | Simpler application</title>
  </head>
  <body>
    <h1>Simpler framework at work!</h1>

    <% @tests.each do |test| %>
    <p>
      <%= test. id %>
      <%= test.title %>
      <%= test.level %>
    </p>

      <% end %>
  </body>
</html>
