<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show | Simpler application</title>
  </head>
<body>
  <h1>Simpler framework at work!</h1>

  <% @test.each do |attrtibut|  %></p>
  <p>
    <%= attrtibut.id %>
    <%= attrtibut.title %>
    <%= attrtibut.level %>
  </p>
      <% end %>
</body>
</html>
